{
  "manifest_version": 2,
  "name": "Google Accounts Login Check",
  "version": "${package.version}${versionSuffix}",
  "description": "${package.description}",
  "hidden": true,

  "applications": {
    "gecko": {
      "id": "${package.name}@mozilla.org"
    }
  },

  "background": {
    "scripts": ["background.js"]
  },

  "permissions": ["normandyAddonStudy", "telemetry", "alarms"],

  "experiment_apis": {
    "extendedTelemetry": {
      "schema": "privileged/extendedTelemetry/schema.json",
      "parent": {
        "scopes": ["addon_parent"],
        "script": "privileged/extendedTelemetry/api.js",
        "paths": [["extendedTelemetry"]]
      }
    },
    "prefs": {
      "schema": "privileged/prefs/schema.json",
      "parent": {
        "scopes": ["addon_parent"],
        "script": "privileged/prefs/api.js",
        "paths": [["prefs"]]
      }
    }
  }
}
